*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

body.no-scroll {
    overflow: hidden;
}

.header {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  width: 100%;
  height: 140px;

  align-items: center;


  top: 0;
  left: 0;
  z-index: 1000;

  border-bottom: 1px solid #fff;
}

.map {
  margin: 0 auto;
  text-align: center;
  margin-bottom: -20px;
}

.map__title {
  margin-left: -60px;
  font-size: 24px;
  color: #21bcbc;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 40px;
}

.map__title a {
    color: inherit;
    text-decoration: none;
}

.map__title:hover {
    text-decoration: underline;
}

.header__contacts {
  text-align: center;
  padding: 20px;
  margin-top: 5px;
}

.header__tel p {
  font-size: 16px;
}

.header__title {
  margin-left: 20px;
}

.header__title p {
  font-size: 20px;
  font-weight: 600;
}

.header__social a {
  text-decoration: none;
  color: #21bcbc;
  font-size: 30px;
  margin-right: 10px;
}

.intro {
  padding: 20px;
  width: 100%;
  height: 620px;
  background: url(img/intro-bg.jpg) center no-repeat;
  background-size: cover;
}

.intro__col {
  width: 50%;
  padding: 20px;
}

.intro__content {
  display: flex;
  flex-wrap: wrap;
}

.intro__title {
  padding: 20px;
  font-size: 50px;
  text-align: left;
  align-items: center;
  color: #21bcbc;

  border: 15px solid rgba(33, 188, 188, 0.9);
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(33, 188, 188, 1.0);
}

.intro__info {
  color: #21bcbc;
  font-size: 18px;
  font-weight: 600;
  line-height: 2.0;
}

.intro__form {
  height: 100%;
  right: 0;
  width: 50%;
}

.form {
  text-align: center;
}

.form__group {
  margin-bottom: 1.8rem;
  padding-bottom: 25px;
}

.form__label {
  display: inline-block;
  margin-bottom: .6rem;

  font-size: 19px;
  color: #21bcbc;
  font-weight: 600;
  margin-left: 130px;
}

.form__input,
.form__textarea {
  display: block;
  width: 100%;
  padding: 1.3rem 1.8rem;

  border: 1px solid #21bcbc;
  border-radius: 1.8rem;

  font-family: inherit;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #21bcbc;

  transition: border-color .2s linear;
}

.form__input,
.form__textarea:focus {
    outline: none;
    border-color: #1b5c5c;
}

.form__input,
.form__textarea:placeholder {
    color: #21bcbc;
  }

.form__textarea {
  height: 200px;
  resize: none;
}

.btn {
  display: inline-block;
  vertical-align: top;
  padding: 10px 10px;
  min-width: 70px;

  border: 1px solid #21bcbc;
  border-radius: 1.8em;
  background: none;
  cursor: pointer;

  font-family: inherit;
  font-size: 16px;
  line-height: 1.1;
  color: #21bcbc;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  transition: background-color .2s linear, color .2s linear, box-shadow .2s linear, border-color .2s linear;
}

.btn:focus {
    outline: none;
}

.btn:hover {
    background-color: #21bcbc;
    box-shadow: 2px 2px 10px #21bcbc;
    color: #333;
    border-color: #082e2e;
  }

  .form__btn {
    text-align: center;
}

.statistics {
  background-color: #21bcbc;
}

.stat {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.stat__item {
  flex: 1 1 0;
  border-right: 1px solid #fff;
  padding: 45px 20px;
}

.stat__item:last-child {
  border: none;
}

.stat__text {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  text-align: center;
}

.services {
  margin-top: 60px;
  margin-bottom: 30px;
}

.services__header {
  margin-top: 30px;
  text-align: center;
}

.services__title {
  font-size: 24px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
}

.services__subtitle {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 600;
  color: #333;
  text-transform: uppercase;
}

.services__inner {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  text-align: center;
}

.services__item {
  width: 30%;
  text-align: center;

  padding: 5px;
  margin: 10px 20px;

  border: 1px solid #333;
  border-radius: 10px;

  box-shadow: 0 3px 20px rgba(0, 0, 0, .2);
}

.services__img {
  max-width: 370px;
  max-height: 280px;

  overflow: hidden;
}

.services__text {
  font-size: 14px;
  font-weight: 600;
  color: #333;
  text-transform: uppercase;
}

.services__text {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.order {
  margin-bottom: 50px;
}

.order__title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.order__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.order__item {
  width: 20%;
  height: 120px;
  text-align: center;
  padding: 40px 0;
  background-color: #21bcbc;
  border-right: 1px solid #fff;
}

.order__item:last-child {
  border-right: none;
}

.order__content {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.reviews {
  display: block;
  text-align: center;
}

.reviews__item {
  margin-top: 20px;
  width: 100%;
  height: 400px;
  text-align: center;
  padding: 20px;
}

.reviews__client {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #333;
}

.reviews__text {
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

.reviews__photo {
  text-align: center;
  padding: 20px;
}

.reviews__img {
  width: 300px;
}

.footer {
  margin-top: 30px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  background-color: #2a2626;
  align-items: center;
}

.footer__item {
  width: 50%;
  padding: 30px;

  border-right: 1px solid #21bcbc;
}

.footer__contact {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #21bcbc;
}

.footer__social {
  margin-top: 15px;
  font-size: 24px;
  margin-bottom: 8px;
}

.footer__social a {
  text-decoration: none;
  color: #21bcbc;
  margin: 0 10px;
}

.footer__phone {
  color: #21bcbc;
}

.footer__name {
  text-align: center;
  line-height: 1;
  font-size: 18px;
  font-weight: 700;
  color: #986d0d;
  text-shadow: 0 0px 40px rgba(185.0, 172.0, 17.0, .8);
}

/* Modals */
.modal {
  display: none;
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow: auto;

  background-color: rgba(33.0, 188.0, 188.0, .6);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.modal.show {
    display: flex;
}

.modal__dialog {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  position: relative;

  background-color: #fff;

  transform: rotateX(90deg);
  transition: transform .2s linear;
}

 .modal__dialog--sm {
    max-width: 900px;
}


.modal__close {
  width: 39px;
  height: 39px;
  padding: 0;
  background: none;
  border: 0;
  cursor: pointer;

  position: absolute;
  top: .9rem;
  right: .9rem;
  z-index: 1;

  transition: transform .2s linear;
}
.modal__close:hover {
    transform: translateY(-3px);
}

.modal__close:focus {
  outline: none;
}


.modal__content {
  padding: 5rem 1rem;
}

.modal__title {
  margin-bottom: 3.6rem;

  font-size: 3rem;
  text-transform: uppercase;
  color: @black;
  font-weight: 700;

  @media @mobile {
    font-size: 2rem;
    text-align: center;
  }
}

.modal__subtitle {
  text-transform: uppercase;
  font-size: 1.06rem;
  color: @black;
  font-weight: 400;

  @media @mobile {
    font-size: .8rem;
    text-align: center;
  }
}

.modal-work {
  display: flex;

  @media @mobile {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
}

.modal-work__preview {
  width: 65%;
  position: relative;

  overflow: hidden;

  @media @mobile {
    width: 100%;
    height: 500px;
  }
}

.modal-work__photo {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;

  transform: translate3d(-50%, -50%, 0);
}

.modal-work__content {
  width: 35%;
  padding: 3.4rem 6.6rem 1rem 1.73rem;
  position: relative;

  @media @mobile {
    width: 100%;
    max-width: 600px;
    text-align: center;

  }
}

.modal-work__header {
  margin-bottom: 2.2rem;
}

.modal-work__title {
  margin-bottom: .2rem;
  font-size: 2.12rem;
  color: @black;
  font-weight: 700;
  text-transform: uppercase;

  @media @mobile {
    font-size: 1.3rem;
  }
}

.modal-work__info {
  font-size: 1.2rem;
  color: @grey;
  text-transform: uppercase;
}

.slick-arrow {
    display: block;
    font-size: 0;
    color: transparent;
    cursor: pointer;

    border: 0;
    background: none;

    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
}

.slick-arrow:focus {
    outline: 0;
}

.slick-arrow:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
}

.slick-prev {
    left: 0;
    transform: rotate(-45deg);
}

.slick-next {
    right: 0;
    transform: rotate(135deg);
}

@media (max-width: 1307px) {
  .intro__title {
    font-size: 33px;
    }

  .form__group {
    padding-bottom: 10px;
  }

  .order__content {
    font-size: 16px;
  }

  .services__inner {
    margin: auto;
  }

  .services__item {
    width: 45%;
  }
}

@media (max-width: 900px) {
  .intro__title {
    font-size: 28px;
  }

  .intro__col {
    padding: 0;
  }

  .form {
    padding-left: 20px;
  }

  .form__group {
    padding-bottom: 0;
  }

  .form__label {
    font-size: 13px;
  }

  .form__textarea {
    height: 150px;
  }

  .services__img {
    width: 300px;
  }
}

@media (max-width: 745px) {
  .header__title p {
    font-size: 16px;
  }

  .header__title h1 {
    font-size: 24px;
  }

  .header__contacts {
    padding: 0;
  }

  .header__tel {
    margin-bottom: 0;
  }

  .map__title {
    font-size: 18px;
  }

  .intro {
    height: 430px;
  }

  .intro__title {
    font-size: 20px;
  }

  .services__item {
    width: 100%;
  }

  .services__img {
    width: 380px;
  }

  .modal-work__title {
    font-size: 16px;
  }

  .modal-work__info {
    font-size: 14px;
  }

  .modal-work__text {
    font-size: 10px;
  }
}

@media (max-width: 720px) {
  .order__content {
    font-size: 12px;
  }

  .reviews__photo {
    padding: 20px;
  }
}

@media (max-width: 550px) {
  .map__title {
    font-size: 10px;
  }

  .header__title p {
    font-size: 10px;
  }

  .header__title h1 {
    font-size: 18px;
  }

  .intro {
    height: auto;
  }

  .intro__col {
    width: 100%;
  }

  .reviews__photo {
    width: 300;
    height: auto;
    overflow: hidden;
  }
}

@media (max-width: 490px) {
  .header {
    height: 95px;
    padding: 0 15px 15px 15px;
  }

  .header__title {
    width: 100%;
    margin-left: 0;
  }

  .map {
    width: 100%;
  }

  .map__title {
    margin-left: 0;
    line-height: 14px;
  }

  .header__contacts {
    display: none;
  }

  .services__item {
    margin: 10px 0;
  }

  .services__img {
    width: 260px;
  }

  .reviews__img {
    width: 200px;
  }

  .footer__item {
    width: 100%;
  }

  .order__item {
    width: 50%;
  }

  .order__item:last-child {
    width: 100%;
  }
}





























